@import "../../style/colors";
@import "../../style/mixin";

.back-button {

  @include outline-focus();

  $size: 1.5rem;

  width: $size;
  border: none;
  margin-right: 1rem;
  padding: 0;
  background-color: transparent;
  display: flex;

  svg {
    height: 2rem;
  }

}
