.todolist {
  margin-left: 32px;
  margin-right: 32px;
}

.todolist__empty-message {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.todolist__heading {
  font-size: 20px;
}