@import '../../style/colors';

.notes {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__explanation {
  text-align: justify;
}

.notes__explanation-item {
  line-height: 1;
  margin-bottom: 16px;
}

.notes__explanation-link {
  line-height: 1.3;
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  color: $color-text-accent;
}

.notes__explanation-list {
}

.notes__explanation-list-item {
  line-height: 1;
  margin-bottom: 16px;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 32px;
}
