@import "../../style/colors";
@import "../../style/mixin";

$button-color: $color-element-2;

.counter {
  display: flex;
  width: fit-content;
  align-items: center;
}

.counter__button {
  @include backgroundImage('/image/arrow_up.svg');
  @include button($button-color);
  $size: 48px;
  padding: 0;
  width: $size;
  height: $size;
  border-radius: 8px;
  background-size: 36px;
}

.counter__button_increase {

}

.counter__button_decrease {
  transform: rotate(180deg);
}

.counter__number {
  display: block;
  min-width: 48px;
  text-align: center;
}