@import "../../style/colors";
@import "../../style/mixin";

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pomodoro__heading {
  line-height: 1.5;
}

.pomodoro__explanation__item {
  line-height: 1;
  text-indent: 16px;
  margin-bottom: 16px;
}

.pomodoro__explanation__link {
  line-height: 1.3;
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  color: $color-text-accent;
}

.pomodoro__actions {
  $transition-time: 200ms;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scale(1) translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform ease-in-out $transition-time, opacity ease-in-out $transition-time, visibility ease-in-out $transition-time;
}

.pomodoro__actions_disabled {
  opacity: 0;
  visibility: hidden;
  transform: scale(0) translateY(-100px);
  flex-basis: 0;
}

.pomodoro__description {
  margin-top: 16px;
}

.pomodoro__counter {
  margin-top: 16px;
}

.pomodoro__start-button {
  margin-top: 16px;
  @include button($color-element-2);
  min-width: 128px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
}

.pomodoro__stats {
  $transition-time: 200ms;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: scale(1) translateY(0);
  opacity: 1;
  visibility: visible;
  margin-top: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  transition: transform ease-in-out $transition-time, opacity ease-in-out $transition-time, visibility ease-in-out $transition-time;
  max-width: 420px;
  flex-wrap: wrap;
}

.pomodoro__stats_disabled {
  opacity: 0;
  visibility: hidden;
  transform: scale(0) translateY(150px);
  // TODO: causes bug when scroll appears on the page
  margin-top: -112px;
}

.pomodoro__stats__description {
  flex-basis: 180px;
  flex-shrink: 0;
}

.pomodoro__stats__pomodoros {
  flex-basis: calc(100% - 180px);
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.pomodoro__stats__item {
  $size: calc(100% / 3);
  flex-shrink: 100;
  flex-basis: $size;

  width: $size;
  height: 40px;

  @include backgroundImage('/image/pomodoro.svg');
}

.pomodoro__stats__stop-button {
  margin-top: 16px;
  @include button($color-element-2);
  min-width: 128px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
}
