@import "../style/index";

$navigation-transition-time: 400ms;
$application-transition-time: 500ms;

.application {
  min-height: 100vh;
  background-color: $color-text-main;

  .navigation-wrapper {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    transform: translateX(-100%);
    background-color: $color-element-2;
    transition: transform ease $navigation-transition-time;
    z-index: 999;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    will-change: transform;
    max-height: 100vh;
    overflow: auto;
    height: 100vh;
  }

  .navigation-wrapper__install {
    $color: $color-element-1;
    @include button-reset();
    transition: background-color ease-in-out 200ms;
    background-color: lighten($color, 10%);
    min-height: 48px;
    color: white;
    font-size: 20px;

    &:active {
      background-color: darken($color, 5%);
    }
  }

  .navigation-wrapper-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .application-wrapper {
    opacity: 1;
    background-color: $color-background-main;
    min-height: 100vh;
    width: 100vw;
    transform: scale(1);
    transition: transform ease $application-transition-time, opacity ease $application-transition-time;
    will-change: opacity, transform;
    overscroll-behavior-y: contain;
  }

}

.navigation-wrapper__close {
  @include button();
  @include backgroundImage('/image/close.svg');
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  margin-top: 16px;
  margin-right: 16px;
}

.application_nav-active {

  .navigation-wrapper {
    transform: translateX(0);
  }

  .application-wrapper {
    opacity: 0.4;
    transform: scale(0.8);
    overflow: hidden;
    max-height: 100vh;
  }

}