@import "colors";

@mixin backgroundImage($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin outline-focus() {
  $color: $color-text-accent;
  &:focus {
    outline-color: $color;
    outline-style: auto;
    outline-width: 5px;
  }
}

@mixin button-reset() {
  box-shadow: none;
  border: none;
  appearance: none;
  outline: none;
}

@mixin button($color: transparent) {
  color: #fff;
  @include button-reset();
  padding: 0 12px;
  min-width: 32px;
  height: 32px;
  display: block;
  border-radius: 4px;
  background-color: $color;
  transition-duration: 75ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;

  &:active {
    @if ($color == transparent) {
      background-color: rgba(#000000, 0.15);
    } @else {
      background-color: darken($color, 10%);
    }
  }

  &:disabled {
    @if ($color == transparent) {
      background-color: lighten(grayscale(#FFFFFF), 15%);
    } @else {
      background-color: lighten(grayscale($color), 15%);
    }
  }
}

@mixin button-large($color) {
  @include button($color);
  min-width: 48px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
  padding: 0 24px;
}

// fixes for mobile and PWA

@mixin overscrollFix() {
  * {
    overscroll-behavior-y: none;
  }

  html {
    height: 100%;
  }

}

@mixin textSelectionFix() {
  *:not(input) {
    user-select: none;
  }
}

@mixin hidden() {
  *[hidden] {
    display: none;
  }
}