@import '../../style/colors';
@import '../../style/mixin';

$transition-time: 200ms;

.dialog {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  transition: opacity ease-in-out $transition-time, visibility ease-in-out $transition-time;
  z-index: 99999;
  color: #000;
}

.dialog_inactive {
  opacity: 0;
  visibility: hidden;
}

.dialog__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 100%;
  max-width: 420px;
  min-height: 200px;
  transition: transform ease-in-out $transition-time;
  background-color: white;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.dialog_inactive .dialog__window {
  transform: translateX(-50%) translateY(0);
}

.dialog__window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.dialog__window__heading {
  font-size: 20px;
  line-height: 1.5;
}

.dialog__window__close-button {
  @include button(#fff);
  @include backgroundImage('/image/close_black.svg');
  border-radius: 16px;
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.dialog__window__container {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
