@mixin parallax($url) {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
  }
}