@import "index";

.parallax-demo {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
  @include parallax('https://picsum.photos/1980/1980/?random')
}