@import "../../style/mixin";

.navbar-item {
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: background-color ease-in-out 80ms;
  text-align: center;
  cursor: pointer;
  border: none;
  color: currentColor;
  font-size: 1rem;
  outline: none;


  &:hover {
    background-color: rgba(#fff, 0.1);
  }
}