@import "../../style/mixin";

.pomodoro-timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.pomodoro-timer__image {
  width: 250px;
  height: 250px;

  position: relative;

  @include backgroundImage('/image/pomodoro.svg');
}

.pomodoro-timer__image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(#F7F7FF, 0.6);
}

.pomodoro-timer__time {
  position: absolute;
  top: 50%;
  font-size: 32px;
  padding: 12px;
  min-width: 125px;
  border-radius: 56px;
  box-sizing: border-box;
  background-color: #F7F7FF;
  transform: scale(0.6) translateY(-18px);
  opacity: 0;
  visibility: hidden;

  transition: opacity 70ms ease-in-out, visibility 70ms ease-in-out, transform 200ms ease-in-out;
}

.pomodoro-timer__time_active {
  transform: translateY(-18px);
  opacity: 1;
  visibility: visible;
}
